
.container{
    height: 100%;
}

#handle {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

#icon{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#icon:hover{
    font-size: 21px;
}

#icon:hover{
    color: black;
}


.listcars{
    background-color: rgb(255, 253, 253);
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#items_Cars1 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}


#car_item{
  width: auto;
  background-color: rgba(37, 37, 36, 0.596);
  margin: 5px;
  margin-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 10px rgb(37, 36, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}



#car_item:hover {
    background-color: rgb(37, 37, 36);
    color: white;
}


#img_id {
    width: 300px; /* You can set the dimensions to whatever you want */
    height: 160px;
    object-fit: cover;
}

#img_id:hover{
    box-shadow: inset 0px 0px 200px rgb(255, 255, 255);
}
