
.into-car{
    border: 1px solid black;
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;  
    margin-left: 5px;
    margin: auto;
}

.into-car span{
    display: flex;
    margin-left: 20px;
}



.imgContainer {
    display: flex;
    flex-direction: column;
}

 #div-car{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 20px;
        width: 85%;
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.733);
    }

    .replay{
        width: 85%;
        height: auto !important;
        margin: auto;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.733);
    }

    .comments{
        width: 500px;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #coment-show{
        width: 100%;
        margin: 5px;

        display: flex;

    }

    .img-comment{
        width: 70px;
        height: 50px;
        border-radius:  50px;
        background-color: rgb(42, 30, 210);
        margin-right: 10px;
      
    }

    #comment-span {
        box-shadow: 0px 0px 10px black;
        width: 100%;
        padding: 10px;
    }

    
    .replay input{
        width: 400px;
        height: 80px;
        margin: auto;
        margin-bottom: 5px;
    }

    .replay button{
        width: 150px;
        margin: auto;
        display: flex;
        justify-self: center;
     
    }

.img-info{
    width: 20rem;
}

#video-YT{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    width: 85%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.733);
    justify-content: center;
}