#items_Cars{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 85%;
}

#inputSearch{
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
    border: 0.5px solid black;

    width: 15%;
}

#searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}