#navLink:hover{
    border-bottom: 2px solid rgb(169, 3, 3);
    border-end-start-radius: 5px;
    }

    #item:link {
        text-decoration: none;
        color: rgb(48, 47, 48);
    }

    #item {
        text-decoration: none;
        color: rgb(48, 47, 48);
        border-bottom: 1px solid black;
    }
  #NavDropown{
      border: 1px solid black;
      position: relative;
      padding-right: 20px;
      padding-left: 20px;
     
  }

    
#navLink{
    text-decoration: none;
    font-weight: bold;
    translate: 5s;    
}

#navLink:link {
    text-decoration: none;
    color: white;
    /* color: rgb(48, 47, 48); */
}

#welcome{
    background-color: rgba(249, 250, 253, 0.296);
}
